﻿@{
    ViewBag.Title = "Account";
}
@model CrudApplication.Models.AccountViewModel
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@if (!string.IsNullOrWhiteSpace(ViewBag.Notification))
{
    <div class="alert alert-success">
        <strong>Success!</strong> @ViewBag.Notification
    </div>
}
<table id="OrdersGrid" style="width:100%">
    <thead>
        <tr>
            <th>OrderDate</th>
            <th>CustomerName</th>
            <th>BeverageName</th>
            <th>Quantity</th>
            <th>OrderStatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td width="30%">@order.OrderDateTime.ToString("MM/dd/yyyy h:mmtt")</td>
                <td width="20%">@order.Customer.LoginName</td>
                <td width="20%">@order.Beverage.Name</td>
                <td width="10%">@order.Quantity</td>
                <td width="10%">@order.OrderStatus</td>
                <td width="10%">@Html.ActionLink("Cancel", "CancelOrder", "Home", new { id = order.OrderPK }, null)</td>
            </tr>
        }
    </tbody>
</table>
