﻿@model CrudApplication.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.BeverageName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BeverageName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MinPrice, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinPrice, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MaxPrice, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MaxPrice, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BeverageType, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BeverageType, new SelectList(Model.AvailableBeverageTypes, "Key", "Value"))
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
            <div class="col-md-9">
                @Html.ActionLink("Clear Filters", "Index", "Home", null, null)
            </div>


        </div>
    }

</div>
@Model.Beverages.Count beverages found
<table id="BeveragesGrid" style="width:100%">
    <thead>
        <tr>
            <th>BeverageName</th>
            <th>Category</th>
            <th>Size</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var beverage in Model.Beverages)
        {
            <tr>
                <td width="20%">@beverage.Name</td>
                <td width="20%">@beverage.Category</td>
                <td width="20%">@beverage.Size</td>
                <td width="20%">@beverage.Price</td>
                <td width="20%">@Html.ActionLink("Order", "Order", "Home", new { id = beverage.BeveragePK }, null)</td>
            </tr>
        }
    </tbody>
</table>
