﻿@model IEnumerable<BeverageApplication.Models.Beverage>

@{
    ViewData["Title"] = "IndexPublic";
}

<h1>IndexPublic</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="IndexPublic" method="get">
            <div class="form-group">
                <label class="control-label">Beverage Title:</label>
                <input name="Name" class="form-control" value="@ViewData["Name"]"/>
                
            </div>

            <div class="form-group">
                <label class="control-label">Beverage Type:</label>
                <select class="form-control" name="beverageType" asp-items="ViewBag.BeverageTypeFk">
                    <option value=""></option>

                </select>

            </div>

            <div class="form-group">
                <label class="control-label">Max Price:</label>
                <input name="maxprice" type="number" class="form-control"  value="@ViewData["maxprice"]"/>

            </div>

            <input class="btn btn-primary" type="submit" value="Search"/>
            <a asp-action="IndexPublic">Clear Filters</a>
</form>
    </div>
</div>
<br />
<p>@Model.Count() Beverages found</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                Beverage Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeverageTypeFkNavigation.Type)
                </td>
                <td>
                    <a asp-action="CreateOrder" asp-controller="Account" asp-route-Beveragepk="@item.BeveragePk" class="btn btn-sm btn-outline-primary">Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>
