﻿@model IEnumerable<BeverageApplication.Models.Beverage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Title
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                Beverage Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeverageTypeFkNavigation.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BeveragePk" class="btn btn-sm btn-outline-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BeveragePk">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
