﻿@model BeverageApplication.Models.Orders

@{
    ViewData["Title"] = "CreateOrder";
}


<h4>Add a Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h5> Make an order of <strong>@ViewData["Name"]</strong></h5>

        <form asp-action="CreateOrder" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="BeverageFk" type ="hidden" value="@ViewData["BeverageFk"]"/>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
