﻿@model IEnumerable<BeverageApplication.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Hi @ViewData["namefirst"]</h1>


@if(Model.Count()>0)
{
    <p> Here are your orders</p>
}
else
{
    <p>You have no orders</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeverageFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustFkNavigation.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeverageFkNavigation.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.OrderPk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderPk">Details</a> |*@
                <a asp-action="DeleteOrder" asp-route-OrderPk="@item.OrderPk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
