﻿@model IEnumerable<BeverageApplication.Models.Orders>

@{
    ViewData["Title"] = "OrdersAdmin";
}

<h1>All orders</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CustFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeverageFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustFkNavigation.FirstName)
                @Html.DisplayFor(modelItem => item.CustFkNavigation.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeverageFkNavigation.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.OrderPk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderPk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderPk">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
